
volumes:
  gitea:
    driver: local
  gitea_postgres:
    driver: local
  # forgejo:
  #   driver: local
  # forgejo_postgres:
  #   driver: local
  # keycloak_postgres:
  #   driver: local
  authentik_postgres:
    driver: local
  # openldap_data:
  #   driver: local
  # openldap_config:
  #   driver: local

networks:
  gitea_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1

services:
  gitea_postgres:
    image: postgres:16
    restart: unless-stopped
    container_name: gitea_postgres
    networks:
      gitea_network:
        ipv4_address: 172.20.0.10
    environment:
      - POSTGRES_USER=${GITEA_POSTGRES_USER}
      - POSTGRES_PASSWORD=${GITEA_POSTGRES_PASSWORD}
      - POSTGRES_DB=${GITEA_POSTGRES_DB}
    volumes:
      - gitea_postgres:/var/lib/postgresql/data
    env_file:
    - .env
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${GITEA_POSTGRES_USER} -d ${GITEA_POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10

  # forgejo_postgres:
  #   image: postgres:16
  #   restart: unless-stopped
  #   container_name: forgejo_postgres
  #   networks:
  #     gitea_network:
  #       ipv4_address: 172.20.0.11
  #   environment:
  #     - POSTGRES_USER=${FORGEJO_POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${FORGEJO_POSTGRES_PASSWORD}
  #     - POSTGRES_DB=${FORGEJO_POSTGRES_DB}
  #   volumes:
  #   - forgejo_postgres:/var/lib/postgresql/data
  #   env_file:
  #   - .env
  #   healthcheck:
  #     test: ['CMD-SHELL', 'pg_isready -h localhost -U ${FORGEJO_POSTGRES_USER} -d ${FORGEJO_POSTGRES_DB}']
  #     interval: 5s
  #     timeout: 5s
  #     retries: 10

  # keycloak_postgres:
  #   image: postgres:16
  #   restart: unless-stopped
  #   container_name: keycloak_postgres
  #   networks:
  #     gitea_network:
  #       ipv4_address: 172.20.0.12
  #   environment:
  #     - POSTGRES_USER=${KEYCLOAK_POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${KEYCLOAK_POSTGRES_PASSWORD}
  #     - POSTGRES_DB=${KEYCLOAK_POSTGRES_DB}
  #   volumes:
  #   - keycloak_postgres:/var/lib/postgresql/data
  #   env_file:
  #   - .env
  #   healthcheck:
  #     test: ['CMD-SHELL', 'pg_isready -h localhost -U ${KEYCLOAK_POSTGRES_USER} -d ${KEYCLOAK_POSTGRES_DB}']
  #     interval: 5s
  #     timeout: 5s
  #     retries: 10

  authentik_postgres:
    image: postgres:16
    restart: unless-stopped
    container_name: authentik_postgres
    networks:
      gitea_network:
        ipv4_address: 172.20.0.13
    environment:
      - POSTGRES_USER=${AUTHENTIK_POSTGRES_USER}
      - POSTGRES_PASSWORD=${AUTHENTIK_POSTGRES_PASSWORD}
      - POSTGRES_DB=${AUTHENTIK_POSTGRES_DB}
    volumes:
    - authentik_postgres:/var/lib/postgresql/data
    env_file:
    - .env
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${AUTHENTIK_POSTGRES_USER} -d ${AUTHENTIK_POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10

  gitea:
    image: docker.gitea.com/gitea:1.24.6
    container_name: gitea
    restart: always
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=${GITEA_DB_TYPE}
      - GITEA__database__HOST=${GITEA_DB_HOST}
      - GITEA__database__NAME=${GITEA_POSTGRES_DB}
      - GITEA__database__USER=${GITEA_POSTGRES_USER}
      - GITEA__database__PASSWD=${GITEA_POSTGRES_PASSWORD}
      - GITEA__database__SCHEMA=${GITEA_POSTGRES_SCHEMA}
    networks:
      gitea_network:
        ipv4_address: 172.20.0.20
    volumes:
      - gitea:/data
      - ./gitea:/data/gitea/conf
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
    depends_on:
      gitea_postgres:
        condition: service_healthy
    env_file:
    - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/users/sign_in"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s

  # forgejo:
  #   image: codeberg.org/forgejo/forgejo:12.0.4
  #   container_name: forgejo
  #   restart: always
  #   environment:
  #     - USER_UID=1000
  #     - USER_GID=1000
  #     - FORGEJO__database__DB_TYPE=${FORGEJO_DB_TYPE}
  #     - FORGEJO__database__HOST=${FORGEJO_DB_HOST}
  #     - FORGEJO__database__NAME=${FORGEJO_POSTGRES_DB}
  #     - FORGEJO__database__USER=${FORGEJO_POSTGRES_USER}
  #     - FORGEJO__database__PASSWD=${FORGEJO_POSTGRES_PASSWORD}
  #     - FORGEJO__database__SCHEMA=${FORGEJO_POSTGRES_SCHEMA}
  #   networks:
  #     gitea_network:
  #       ipv4_address: 172.20.0.21
  #   volumes:
  #     - forgejo:/data
  #     - ./forgejo:/data/gitea/conf
  #     - /etc/timezone:/etc/timezone:ro
  #     - /etc/localtime:/etc/localtime:ro
  #   ports:
  #     - "3001:3000"
  #     - "223:22"
  #   depends_on:
  #     forgejo_postgres:
  #       condition: service_healthy
  #   env_file:
  #   - .env
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:3000/users/sign_in"]
  #     interval: 1m30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 40s

  # keycloak:
  #   image: quay.io/keycloak/keycloak:latest
  #   command: start
  #   environment:
  #     KC_HOSTNAME: 172.20.0.22
  #     KC_HOSTNAME_PORT: 8080
  #     KC_HOSTNAME_STRICT_BACKCHANNEL: false
  #     KC_HTTP_ENABLED: true
  #     KC_HOSTNAME_STRICT_HTTPS: false
  #     KC_HEALTH_ENABLED: true
  #     KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
  #     KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
  #     KC_DB: postgres
  #     KC_DB_URL: jdbc:postgresql://${KEYCLOAK_DB_HOST}/${KEYCLOAK_POSTGRES_DB}
  #     KC_DB_USERNAME: ${KEYCLOAK_POSTGRES_USER}
  #     KC_DB_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
  #   ports:
  #     - 8080:8080
  #   restart: always
  #   depends_on:
  #     gitea_postgres:
  #       condition: service_healthy
  #   env_file:
  #   - .env
  #   networks:
  #     gitea_network:
  #       ipv4_address: 172.20.0.22

  authentik_server:
    command: server
    depends_on:
      authentik_postgres:
        condition: service_healthy
    env_file:
    - .env
    environment:
      - AUTHENTIK_POSTGRESQL__HOST=authentik_postgresql
      - AUTHENTIK_POSTGRESQL__NAME=${AUTHENTIK_POSTGRES_DB:-authentik}
      - AUTHENTIK_POSTGRESQL__PASSWORD=${AUTHENTIK_POSTGRES_PASSWORD}
      - AUTHENTIK_POSTGRESQL__USER=${AUTHENTIK_POSTGRES_USER:-authentik}
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY:?secret key required}
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.12.1}
    ports:
    - ${COMPOSE_PORT_HTTP:-9000}:9000
    - ${COMPOSE_PORT_HTTPS:-9443}:9443
    restart: unless-stopped
    volumes:
    - ./data:/data
    - ./custom-templates:/templates

  authentik_worker:
    command: worker
    depends_on:
      authentik_postgres:
        condition: service_healthy
    env_file:
    - .env
    environment:
      - AUTHENTIK_POSTGRESQL__HOST=authentik_postgresql
      - AUTHENTIK_POSTGRESQL__NAME=${AUTHENTIK_POSTGRES_DB:-authentik}
      - AUTHENTIK_POSTGRESQL__PASSWORD=${AUTHENTIK_POSTGRES_PASSWORD}
      - AUTHENTIK_POSTGRESQL__USER=${AUTHENTIK_POSTGRES_USER:-authentik}
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY:?secret key required}
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.12.1}
    restart: unless-stopped
    user: root
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - ./data:/data
    - ./certs:/certs
    - ./custom-templates:/templates

  # openldap:
  #   image: osixia/openldap:1.5.0
  #   container_name: openldap
  #   restart: unless-stopped
  #   networks:
  #     gitea_network:
  #       ipv4_address: 172.20.0.30
  #   ports:
  #     - "389:389"
  #     - "636:636"
  #   environment:
  #     - LDAP_ORGANISATION=${LDAP_ORGANISATION}
  #     - LDAP_DOMAIN=${LDAP_DOMAIN}
  #     - LDAP_ADMIN_PASSWORD=${LDAP_ADMIN_PASSWORD}
  #     - LDAP_BASE_DN=${LDAP_BASE_DN}
  #   volumes:
  #     - openldap_data:/var/lib/ldap
  #     - openldap_config:/etc/ldap/slapd.d
  #   healthcheck:
  #     test: ["CMD", "ldapsearch", "-x", "-b", "${LDAP_BASE_DN}", "-H", "ldap://localhost"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3

  # phpldapadmin:
  #   image: osixia/phpldapadmin:0.9.0
  #   container_name: phpldapadmin
  #   restart: unless-stopped
  #   ports:
  #     - "8081:80"
  #   networks:
  #     gitea_network:
  #       ipv4_address: 172.20.0.31
  #   environment:
  #     - PHPLDAPADMIN_LDAP_HOSTS=openldap
  #     - PHPLDAPADMIN_HTTPS=false
  #   depends_on:
  #     - openldap

  # cloudflared:
  #   depends_on:
  #     - gitea
  #   networks:
  #   gitea_network:
  #     ipv4_address: 172.20.0.22
  #   image: cloudflare/cloudflared:latest
  #   restart: unless-stopped
  #   environment:
  #     - CLOUDFLARED_TOKEN=${CLOUDFLARED_TOKEN}
  #   command: tunnel --no-autoupdate run --token ${CLOUDFLARED_TOKEN}
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"